.App {
  display: flex;
  flex-direction: column;
}

.desktop {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}

.dock-container {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

